﻿@using System.Security.Claims

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
</head>
<body>
    <!--меню-->
    <nav class="navbar navbar-dark bg-inverse">
        <div class="container">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="~/Home/Index" class="navbar-brand">Главная</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="pull-xs-right">
                            <li class="nav-item"><span class="navbar-text">@User.Claims.FirstOrDefault(u => u.Type == ClaimsIdentity.DefaultRoleClaimType).Value</span></li>
                            <li class="nav-item"><span class="navbar-text">@User.Claims.FirstOrDefault(u => u.Type == "FullName").Value</span></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">&#9776;</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Index">Профиль</a>
                                    <a class="dropdown-item" asp-controller="Edit" asp-action="ViewAll">Мои правки</a>
                                    <a class="dropdown-item" asp-controller="Article" asp-action="New">Создать статью</a>
                                    @if (@User.Claims.FirstOrDefault(u => u.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "Модератор")
                                    {
                                        <a class="dropdown-item" asp-controller="Edit" asp-action="CheckAll">Модерация</a>
                                    }
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Выход</a>
                                </div>
                            </li>
                        </div>
                    }
                    else
                    {
                        <div class="pull-xs-right">
                            <li class="nav-item"><a asp-controller="Account" asp-action="Login" class="navbar-link">Вход</a></li>
                            <li class="nav-item"><a asp-controller="Account" asp-action="Register" class="navbar-link">Регистрация</a></li>
                        </div>
                    }
                    </ul>
            </div>
        </div>
    </nav>
    <!--основной контент-->
    <div class="container body-content" style="margin-bottom: 100px">
        @RenderBody()
        <div class="navbar-fixed-bottom row-fluid">
            <hr />
            <div class="navbar-inner">
                <div class="container">
                    <footer>
                        <p>© 2019 - Wiki-словарь</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
</html>